
body {
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100vw;
    height: 12vw;
    display: flex; 
    justify-content: center;  
    align-items: flex-end;  
    background-image: url("../img/fondo.jpg");
    background-size:cover;
    background-repeat:no-repeat;     
    background-attachment: scroll;  
    background-position-y: center;
    border-radius: 10%;
  
}

.menu{   
    display: flex;
    font-weight: bold;  
    
}



p { 
    Text-align: justify;
}

#foto{
    
    align-self: center;
    border-radius: 20%;
    width:10vw;   
  }




a {
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    margin-right: 40px;
  }



h1{
    text-align: center;
    font-size: 35px;
    line-height: 29.64px;
    font-weight: bold;
    font-feature-settings: 'cpsp' on;
    font-family: Times 'Times New Roman', Times, serif;
}

h1,h2{
    color: #005677;
    background: #C4C4C4;
    margin-top: 30px;
    font-size:20px ;    
}

#footer{
    background: #005677;
    text-align: center;
    color: white;
    font-family: Times 'Times New Roman', Times, serif ;
    font-size:20px ;
    line-height: 16.94px;
    height: 37px;
    padding-top: 7px;
}


.año{
    font-weight:bold;
}

.seccionDatos{
    display: flex;
    flex-direction: column;
    margin: 60px

}

.education{
    display: flex;   
    align-items:center;
    justify-content: flex-start;
  
}

.año{
    font-weight: bold; 
    
}


.textoEducation{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.textoEducation > div{
    margin: 2px;
}


.año > p{
    margin: 70px
}

#instagram{
    padding-left:30px;
}
#linkedin{
    padding-left:30px;
}

.catInfo{
    font-weight: bold;
    margin-right: 30px;
}
